.container {
    width: 420px;
    margin: 20px auto;
}

#b325 ,
.b326 {
    border: 1px solid green;
}

#b325 ,
.b326 ,
.b329 {
    font-weight: bold;
}

.big {
    color: blue;
}

p {
    background: yellow;
}

